* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login,
.signup {
  margin: 4px;
}

.loggedHomePageContainer {
  display: flex;
  margin: 8px;
  flex-direction: column;
  align-items: center;
}

.loggedHomePageContainer > h1 {
  margin: 2rem 0;
}

.accordionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.accordion {
  margin: 2rem 0;
}

.accordion-button {
  min-width: 638px;
}

.accordion-button.collapsed {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-item {
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-floating {
  width: 25%;
}

.basicSearchContainer {
  display: flex;
  justify-content: center;
}

.navbar-nav > a {
  margin: 8px;
  text-decoration: none;
  list-style-type: none;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  align-self: center;
}

.badgeLabel {
  background-color: #fff !important;
  color: #000 !important;
}

.petStatusContainer,
.slider {
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: row !important;
}

.pretty.p-switch {
  margin-right: 1.5em;
}

.accordionBody {
  display: flex;
  justify-content: center;
}
.accordionBody > div.MuiBox-root {
  flex: 1;
}

.statusLabel {
  margin-left: 0 !important;
}

.radioContainer {
  flex-direction: row !important;
  margin: 7px !important;
}

.petCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  margin: 50px;
}

.petCard {
  margin: 12px 0;
}

.petCard > img {
  margin: 0;
  object-fit: cover;
  max-height: 350px;
}

.petCard:hover {
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  padding-top: 24px;
}

.imageContainer > img {
  width: auto;
  height: 400px;
  border-radius: 20%;
  box-shadow: 5px 5px 15px 5px #000000;
  position: relative;
}

.petContainer {
  margin-top: 30px;
  flex-direction: column;
}

hr {
  border: none;
  top: 8px !important;
  height: 20px;
  width: 50%;
  height: 50px;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0px 3px 9px 2px #000000;
}

.nameTypeContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.petName {
  position: absolute;
  left: 10%;
}

.petBreed {
  position: absolute;
  left: 10%;
  top: 30px;
}

.petDetailsContainer {
  display: flex;
  justify-content: space-around;
  margin: 16px;
  padding-top: 30px;
  font-size: 0.85rem;
}

.box {
  box-shadow: 0px 3px 9px 2px #000000;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.buttonsContainer > button {
  margin: 5px;
}

.petBioContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 50px;
  max-width: 100%;
}

.petBioContainer > h4 {
  justify-self: flex-start;
}

.bio {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  max-width: 80%;
  text-overflow: ellipsis;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.seeMore {
  color: blue;
  cursor: pointer;
}

.expanded.bio {
  overflow: unset;
  white-space: none;
  text-overflow: none;
}

.addPetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addPetHeader > button {
  font-size: 3rem;
  font-weight: 700;
  justify-content: center;
}

.addPetContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPetContainer > input#file {
  margin: 1.4rem 0;
}

div > .MuiOutlinedInput-root {
  margin-bottom: 0.8rem !important;
}

div > .petNameInput {
  margin: 1.4rem;
}

.accordion-button::after {
  margin-left: 1rem;
}

.addPetBadge {
  align-self: center;
}

.petNameInputContainer {
  display: flex;
  justify-content: center;
}

.petNameInput {
  width: 50% !important;
  flex: none !important;
}

.colorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.petContainer {
  border: 1px solid #000;
}

.petContainer > img {
  max-height: 300px;
}

.usersContainer {
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
}

.usersContainer > i {
  color: blue;
  cursor: pointer;
}

.MuiCardMedia-media {
  width: 200px !important;
}

.userDetails {
  border: 1px solid #000;
  margin-bottom: 30px;
}

.myPetsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table {
  margin: 2rem 1rem !important;
  width: 90% !important;
}

table td,
table th {
  min-width: 220px;
  text-align: center;
  vertical-align: middle;
}

table tr {
  cursor: pointer;
}

.editProfileForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer > h1 {
  margin-top: 2rem;
}

.returnPetBtnContainer {
  display: flex;
  justify-content: center;
}

.usersTitle {
  margin-left: 1.2rem;
  margin-top: 2rem;
  position: relative;
  right: 1.5rem;
  text-align: center;
}

hr.divider {
  width: 100%;
}
